# pipenv
# Environments
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# MLFlow
*/mlruns
*/*.db

# Artifacts
*/data
*/models

